.loading {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.detail {
  display: flex;
  gap: 30px;

  img {
    width: 350px;
  }

  .genres {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 10px;
  }
}
